
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif;      

}

.secatio-1 h1 {
    text-align: left;
    color: black;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;      
}

.destacar_texto{
    
    color: #21247e;
    font-weight: 800;
}

.paragrafo-header {
    font-size:  20px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif; 
    text-align: left;
    color: #34993e;
}

h3{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif; 
    text-align: left;
}



.btn-secao {
    background-color: #494949;
    padding: 5px 30px;
    border-radius: 40px;
    box-shadow: 0 3px 6px #00000029;   
    color: white;
    border: none;
    font-size: 15px;
}

.btn-secao:hover {
    background-color: #0f0f0f; 
    transition: 0.6s;
    opacity: 0.2;
    color: white;
}

.paragrafo-servicos{
    font-size:  15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif; 
    text-align: left;
    color: #1c4319;
    font-size: 15px; 
    text-align: left;
}

.clientes{
    box-shadow: 0 3px 6px #00000077; 
    border-radius: 40px; 
    padding: 50px;
    
}

.imagemHome {
    width: 300px; height: auto; 
}

.divisao{
    display: none;
}

.content{
    margin-top: 100px; 
     width: 70%; 
     min-height: 40vh;
     margin-bottom: 100px;
     border-radius: 50px;
     background: #fffefe;
     padding: 50px;
     box-shadow:  7px 7px 14px #cecece, -7px -7px 14px #f2f2f2; 
}


.titulo-servicos{
    text-align: left;
}
.paragrafo-servicos{
    text-align: left;
}
.btn-serevicos{
    text-align: left;
}












@media screen and (max-width: 992px){ 

   

    .secatio-1 h1 {
        text-align: center;
        color: black;
        font-size: 30px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;      
    }

    .paragrafo-header {
        font-size:  15px;
        margin: 50px;
        text-align: center;    
        padding: 10px;    
    }

    .content{
        
         width: 90%; 
         height: auto;
         padding: 20px;
       
    }
   
    .imagemHome{
        width: 200px;
        margin: 50px;
    }

    .titulo-servicos{
        text-align: center;
    }
    .paragrafo-servicos{
        text-align: center;
    }
    .btn-serevicos{
        text-align: center;
    }
    

   

   
    
}

.links {
    text-decoration: none;
    color: black;
    cursor: pointer;
}










 